/* App.css */
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 20px;
}

/* App.css */
.sidenav.fixed {
  position: fixed;
  top: 0;
}
